<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to My App</h1>
<p>Welcome to our site! Please click the link below to verify your email address:</p>
<%= link_to 'Verify Email', main_app. verify_email_user_path(@user, token: @verification_token) %>



</body>
</html>
